
/* .jumbotron {
	background-image: url('../images/RollingTray1.jpg');
	background-size: cover;
} */

.nav-link {
    color: white;
}

.pic1 {
  max-width: 20%;
  height: 20vh;
  border-radius: 80%;

}

.socials {
    font-size: 20px;
    color: red;
    background-color: red;
}

.desc {
    font-size:large
}

.code {
    background-color: green;
    border-color: #009300;
}
.code:hover{
    background-color: #009300;
}